/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }
body { line-height: 1; box-sizing: border-box; color: #333; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
select { -moz-appearance: none; -webkit-appearance: none; appearance: none; border-radius: 0; border: 0; margin: 0; padding: 0; background: none transparent; vertical-align: middle; font-size: inherit; color: inherit; box-sizing: content-box; }
select::-ms-expand { display: none; }
a { text-decoration: none; color: #aaa; }

body { font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif; }
* { box-sizing: border-box; }
.preload { display: none; }

.containerTitlePage { padding: 4vw 6vw 0; }
.titlePage { font-size: 4.5vw; }
.tagline { padding: 1.5vw .5vw; font-size: 2vw }


.containerTitlePage + * { margin-top: 40px; }

.demoBinarySwitch { padding: 3vw 6.5vw; }



.containerIncDec { display: flex; margin: 10px 0 0; padding: 0 3px; width: auto; justify-content: space-between; }
.containerIncDec .controlIncDec { display: block; padding: .1vw .7vw .2vw; border: 1px solid #A9B2BB; border-radius: 17%; text-align: center; line-height: 1; font-size: 1.58vw; color: #A9B2BB; transition: background-color .8s cubic-bezier(0.25, 1, 0.5, 1); }
.containerIncDec .controlIncDec:hover { opacity: .5; }


.columnedScreen { position: relative; display: flex; flex-wrap: wrap; }
.columnedScreen .seriesSwitch { width: 50%; }
.columnedScreen .rid { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #aac; opacity: .4; backdrop-filter: blur(4px); z-index: 1; }
.columnedScreen.consoleDemo .rid { width: calc(100% - 60px); height: calc(100% - 60px); top: 30px; left: 30px; }
